@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} 


:root {
  --size: 25px;
} html, document, body, body div{
  outline: 1px black solid;
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
} html, document, body{
  position: relative;
  height: 100vh;
  width: 100vw
} 

.flexMiddle {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.widthRel {
  width: 100%;
}
.textCCMM {
  height: 10vh;
}

.blc {
  display: block;
}
.menuConCon {
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: content-box;
  display: none;
  background: #4e4e4e;
  width: 90vw;
  /* transform: translateX(1.25vw); */
  flex-direction: column;
  gap: 5px;
}
.contMainMenu {
  width: 100%;
  background-color: #505050;
  border: solid black 1px;
  box-sizing: border-box;
}
.worldList{
  font-size: 50px;
}