#MainMenu {
  overflow-y: scroll;
  box-sizing: border-box;
  width: 95vw;
  transform: translateX(2.5vw);
  margin-top: 2.5vw;
  background-color: #ba36829f;
}
#MainMenu > div:nth-child(odd) {
  width: 100%;
  background-color: #505050;
  border: solid black 1px;
  height: 10vh;
  box-sizing: border-box;
}
#createWorldMenu {
  display: none;
  position: absolute;
  gap: 5vmin;
  z-index: 1000;
  width: 80vmin;
  height: 80vmin;
  top: calc((100vh - 80vmin) / 2);
  left: calc((100vw - 80vmin) / 2);
}
