.flexMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.widthRel {
  width: 100%;
  position: relative;
}
.rel {
  position: relative;
}
.menuConCon {
  display: none;
  z-index: 1;
  background: #4e4e4e;
  width: 90vw;
  transform: translateX(1.25vw);
  flex-direction: column;
  align-items: center;
  gap: 5px;
}