html, document, body, body div {
  position: absolute;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
}
#inputName {
  top: 50px;
  left: 100px;
  size: 2;
}
#connectButton {
  size: 3;
  top: 100px;
  left: 50px;
}
.players{
  width: 50px;
  height: 50px;
  border-top-left-radius: 12.5px;
  border-top-right-radius: 12.5px;
  transform: translate(0,0);
  transition: transform .5s linear;
}
#analog {
  position: fixed;
  width: 90vmin;
  height: 90vmin;
  bottom: 0;
  outline: black solid 1px;
}
#atasAnalog{
  width: 30vmin;
  height: 30vmin;
  left: calc(100vmin / 3);
  top: 0;
  background-color: #ff0000;
}
#kananAnalog{
  width: 30vmin;
  height: 30vmin;
  left: calc(100vmin / 3 * 2);
  top: calc(100vmin / 3);
  background-color: #12ff00;
}
#bawahAnalog{
  width: 30vmin;
  height: 30vmin;
  left: calc(100vmin / 3);
  top: calc(100vmin / 3 * 2);
  background-color: #0073ff;
}
#kiriAnalog{
  width: 30vmin;
  height: 30vmin;
  left: 0;
  top: calc(100vmin / 3);
  background-color: #ff00c7;
}