:root {
  --size: 25px;
}
html, document, body, body div {
  position: absolute;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  outline: 1px black solid;
}
#containerFullScreen {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10vmin;
}
#fullScreenButton {
  width: 25vmin;
  height: 25vmin;
}
#inputName {
  top: 50px;
  left: 100px;
  size: 2;
}
#connectButton {
  size: 3;
  top: 100px;
  left: 50px;
}
.players{
  width: var(--size);
  height: var(--size);
  border-top-left-radius: calc(var(--size) / 2);
  border-top-right-radius: calc(var(--size) / 2);
  transform: translate(0,0);
  transition: transform .5s linear;
}
#mobileOnly {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100px;
}
#analog {
  width: 100px;
  height: 100px;
  bottom: 0;
  left: 10px;
  border-radius: 50px;
  outline: red solid 1px;
}
.intr{
  height: 30px;
  width: 40px;
  outline: 1px solid red;
}
#intr1{
  left: 115px;
  top: 10px;
}
#intr2{
  left: 130px;
  top: 10px;
}
#intr3{
  left: 145px;
  top: 10px;
}
#intr4{
  left: 110px;
  top: 35px;
}
#intr5{
  left: 125px;
  top: 35px;
}
#intr6{
  left: 140px;
  top: 35px;
}
