:root {
  --size: 25px;
}
html, document, body, body div{
  outline: 1px black solid;
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
}
html, document, body{
  position: absolute;
}
body {
  width: 100vw;
  height: 100vh;
}
#fullScreenButton {
  width: 50vmin;
  height: 15vmin;
  font-size: 5vmin;
}

.MainGame div {
  position: absolute;
}
.UserInteraction div{
  position: absolute;
}
#UserInteraction {
  background-color: blue;
}
#MainGame{
  position: absolute;
  --minus: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - var(--minus));
}
#canvasMap{
  overflow: visible;
  transform: translate(0,0);
  transition: transform .25s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}
.players{
  --content: "smile";
  width: var(--size);
  height: var(--size);
  border-top-left-radius: calc(var(--size) / 2);
  border-top-right-radius: calc(var(--size) / 2);
  transform: translate(0,0);
  transition: transform .25s linear;
  overflow: visible;
}
#mobileOnly {
  background-color: blue;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100px;
}
#analog {
  width: 100px;
  height: 100px;
  bottom: 0;
  left: 10px;
  border-radius: 50px;
  outline: red solid 1px;
}
.intr{
  height: 30px;
  width: 40px;
  outline: 1px solid red;
}
#bIntr1{
  left: 140px;
  top: 10px;
}
#bIntr2{
  left: 220px;
  top: 10px;
}
#bIntr3{
  left: 300px;
  top: 10px;
}
#bIntr4{
  left: 135px;
  top: 60px;
}
#bIntr5{
  left: 215px;
  top: 60px;
}
#bIntr6{
  left: 295px;
  top: 60px;
}


#MainMenu {
  position: absolute;
  overflow-y: scroll;
  box-sizing: border-box;
  width: 95vw;
  transform: translateX(2.5vw);
  margin-top: 2.5vw;
  background-color: aqua;
}
#MainMenu > div:nth-child(odd) {
  background-color: #505050;
  border: solid black 1px;
  height: 10vh;
  box-sizing: border-box;
}
#createWorldMenu {
  display: none;
  position: absolute;
  gap: 5vmin;
  background-color: red;
  z-index: 1000;
  width: 80vmin;
  height: 80vmin;
  top: calc((100vh - 80vmin) / 2);
  left: calc((100vw - 80vmin) / 2);
}